---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Footer from '../components/Footer.astro';
import DrawerSide from '../components/DrawerSide.astro';
---

<Layout>
  <div class="drawer">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" /> 
    <div class="drawer-content flex flex-col">
      
      <Navbar />

      <!-- Main Content -->
      <main class="flex-grow">
        <Hero />
        <Experience />
        <Education />
      </main>

      <Footer />
      
    </div> 
    <DrawerSide />
  </div>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
